{% extends 'base.html.twig' %}


{% block title %}

{% endblock %}

{% block body %}

    {{ form_start(editPasswordForm) }}
    <div class="">
        {{ form_row(editPasswordForm.plainPassword) }}
    </div>
    <button type="submit">Enregistrer</button>
    <div class="">
        <a href="{{ path('user_profile', {'id': app.user.id}) }}">Retour</a>
    </div>
    {{ form_end(editPasswordForm) }}
{% endblock %}

